{
    "overrides": [
        {
            "files": "*",
            "options": {
                "tabWidth": 4
            }
        },
        {
            "files": [
                "*.css",
                "*.scss"
            ],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}