#home {
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 0.9fr;
  width: 100vw;
  height: 100vh;
  min-width: 600px;
  min-height: 300px;
  .menu-bg {
    position: absolute;
    height: 100vh;
    background-color: #fff;
    z-index: 2;
    &:nth-child(3) {
      bottom: -100vh;
      width: 25vw;
      transition: 0.3s;
      &.show {
        bottom: 0;
      }
    }
    &:nth-child(4) {
      top: -100vh;
      left: 25vw;
      width: 25vw;
      transition: 0.3s 0.3s;
      &.show {
        top: 0;
      }
    }
    &:nth-child(5) {
      bottom: -100vh;
      right: 25vw;
      width: 25vw;
      transition: 0.3s 0.6s;
      &.show {
        bottom: 0;
      }
    }
    &:nth-child(6) {
      top: -100vh;
      right: 0;
      width: 25vw;
      transition: 0.3s 0.9s;
      &.show {
        top: 0;
      }
    }
  }

  @import "left";
  @import "right";
}
